@model FashionShop.Shared.Menu
@using FashionShop.Shared;
@using System.Web
<div class="container nav-container">
    <a class="navbar-brand font-weight-bold" href="@Url.Action("Index","Home")">
        <img height="45" src="~/Content/Adminassets/images/logo/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold nav-menu" href="@Url.Action("Index","Home")">Trang chủ</a>
            </li>
            <li class="nav-item dropdown dropdown-animated scale-right">
                <a class="nav-link dropdown-toggle font-weight-bold nav-menu" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" role="button"
                   data-mdb-toggle="dropdown" aria-expanded="true">
                    Sản phẩm
                </a>
                <ul class="mt-2 pb-1 pt-1 dropdown-menu pop-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a href="#" class="dropdown-item d-block p-h-15 p-v-10">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="opacity-04 fa-solid fa-layer-group"></i>
                                    <span class="m-l-10">Danh mục</span>
                                </div>
                                <i class="anticon font-size-10 anticon-right"></i>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            @{
                                var categories1 = Model.Categories.ToList();
                                foreach (var item in categories1)
                                {
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Index", "Product", new {categoryid = item.Id})">@item.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                       
                    </li>
                    <li>
                        <a href="#" class="dropdown-item d-block p-h-15 p-v-10">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="opacity-04 fas fa-gem"></i>
                                    <span class="m-l-10">Thương hiệu</span>
                                </div>
                                <i class="anticon font-size-10 anticon-right"></i>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            @{
                                var branchs1 = Model.Branchs.ToList();
                                foreach (var item in branchs1)
                                {
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("Index", "Product", new {branchid = item.Id})">@item.Name</a>
                                    </li>
                                }
                            }

                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/Product">Tất cả sản phẩm</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold nav-menu" href="@Url.Action("About","Home")">Về chúng tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold nav-menu" href="@Url.Action("Contact","Home")">Liên hệ</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-center align-items-center">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-3 menu-search" action="@Url.Action("Index","Product")" method="get">
                    <input type="hidden" value="@TempData["categoryid"]" name="categoryid" />
                    <input type="hidden" value="@TempData["branchid"]" name="branchid" />
                    <input style="width: 250px;" class="form-control mr-sm-2" type="search" name="search" value="@TempData["search"]" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-light my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </li>
            <li class="nav-item ">
                <a class="nav-link font-weight-bold" href="@Url.Action("Index", "Cart")" data-toggle="tooltip" data-placement="top" title="Giỏ hàng">
                    <i class="fas fa-shopping-cart mr-1"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="@Url.Action("Index", "Order")" data-toggle="tooltip" data-placement="top" title="Đơn hàng">
                    <i class="fas fa-clipboard-list mr-1"></i>
                </a>
            </li>
            @{
                if (string.IsNullOrEmpty(HttpContext.Current.Session[Const.USERSESSION]?.ToString()))
                {
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="@Url.Action("Login", "Home")" data-toggle="tooltip" data-placement="top" title="Đăng nhập">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown dropdown-animated scale-left">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                <img class="btn btn-icon btn-sm btn-rounded p-0" src="~/Assets/images/account/user-3.jpg" alt="">
                        </a>
                        <div class="mt-2 pb-1 pt-1 dropdown-menu pop-profile">
                            <a href="@Url.Action("Profile", "Home")" class="dropdown-item d-block p-h-15 p-v-10">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="anticon opacity-02 font-size-16 anticon-user"></i>
                                        <span class="m-l-10">Thông tin tài khoản</span>
                                    </div>
                                    <i class="anticon font-size-10 anticon-right"></i>
                                </div>
                            </a>
                            <a href="@Url.Action("Logout", "Home")" class="dropdown-item d-block p-h-15 p-v-10">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <i class="anticon opacity-02 font-size-16 anticon-logout"></i>
                                        <span class="m-l-10">Đăng xuất</span>
                                    </div>
                                    <i class="anticon font-size-10 anticon-right"></i>
                                </div>
                            </a>
                        </div>
                    </li>

                }

            }

        </ul>
    </div>
</div>
